{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password - iStorno" %}{% endblock %}

{% block content %}
<main class="container py-4">
    <div class="row justify-content-center mx-2">
        <div class="col-lg-5 col-md-6 jumbotron text-center">
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
                request a
                <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
            <form class="mt-4" method="POST" action="{{ action_url }}">
                <div class="text-left">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary btn-block mt-4" type="submit" name="action"
                        value="{% trans 'Change password' %}" />
                </div>
            </form>
            {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}