{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Profile - iStorno" %}{% endblock %}

{% block content %}
<div class="row">
    <aside class="col-3">
        <ul class="list-group bg-light">
            <a href="{% url 'core:account-info' %}" class="list-group-item list-group-item-action">General</a>
            <a href="{% url 'account_email' %}" class="list-group-item list-group-item-action">
                E-mail
            </a>
            <a href="{% url 'account_change_password' %}" class="list-group-item list-group-item-action">Password
                change</a>
        </ul>
    </aside>
    <section class="col-9">
        {% block profile %}{% endblock %}
    </section>
</div>
{% endblock %}