{% extends "account/profile.html" %}

{% load i18n %}

{% block head_title %}{% trans "Purchases - iStorno" %}{% endblock %}

{% block profile %}
<div class="container bg-light px-5 py-4 border rounded">

    {% if orders %}
        <h1 class="text-uppercase">{% trans 'List of purchases' %}</h1>
        <hr>

        {% for order in orders %}
        <div class="border bg-white rounded mb-4 p-3">
            <div class="d-flex justify-content-between">
                <span>{% trans 'Order ID' %}: {{ order.id }}</span>
                <span>{{ order.ordered_date }}</span>
            </div>
            <table class="table table-striped mt-2">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Title' %}</th>
                        <th scope="col">{% trans 'Category' %}</th>
                        <th scope="col">{% trans 'Price' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_items in order.items.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order_items.item.title }}</td>
                        <td>{{ order_items.item.category.title }}</td>
                        <td>${{ order_items.item.price }}</td>
                    </tr>
                    {% endfor %}
                    <tr class="table-active">
                        <th scope="row">
                            <h4>{% trans 'Total' %}:</h4>
                        </th>
                        <td></td>
                        <td></td>
                        <td class="font-weight-bold">
                            <h4>${{ order.get_total }}</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary w-25" href="{% url 'core:download' %}">{% trans 'Download' %}</a>
        </div>
        {% endfor %}

    {% else %}
    <div class="container text-center">
        <h1 class="display-4">{% trans "You haven't any purchase" %}</h1>
        <p class="lead">{% trans 'Go to the "PRODUCTS" section' %}n</p>
    </div>
    {% endif %}

</div>
{% endblock profile %}