<!DOCTYPE html>
<html lang="en">
<!-- Loading static files -->
{% load static %}
{% load cart_template_tags %}
{% load category_template_tags %}

<!-- Header -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}{% endblock extra_head %}
  
  <!-- Links -->
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<!-- Body -->
<body>
  {% block body %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
    <div class="container">

      <!-- Brand -->
      <div class="navbar-brand mb-0 h1 pr-3 d-none d-sm-none d-lg-block">
        iSTORNO</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse row" id="navbarTogglerDemo02">

        <!-- Links -->
        <ul class="navbar-nav mt-2 mt-lg-0 col-4">

          <!-- Home -->
          <li class="nav-item active ml-3">
            <a class="nav-link text-uppercase" href="{% url 'core:home' %}">
              Home <span class="sr-only">(current)</span>
            </a>
          </li>

          <!-- Categories -->
          <li class="nav-item dropdown btn-group ml-3">
            <a class="nav-link text-uppercase pr-0" href="{% url 'core:products' %}">Products</a>
            <a class="nav-link dropdown-toggle pl-1" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
            </a>
            <div class="dropdown-menu">

              {% for category in value|categories %}
              <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
              {% endfor %}

            </div>
          </li>

        </ul>
      </div>

      <!-- Navbar links -->
      <div class="row mx-2">

        <!-- Cart -->

        {% if request.user.is_authenticated %}
        <ul class="navbar-nav mt-2 mt-lg-0 mr-1">
          <li class="nav-item dropdown btn-group">
            <a class="nav-link text-uppercase pr-0" href="{% url 'core:order-summary' %}">
              <span class="badge badge-primary badge-pill">{{ request.user|cart_item_count }}
              </span>
              <i class="fa fa-shopping-cart"></i>
              Cart
            </a>
            <a class="nav-link dropdown-toggle pl-1" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
            </a>

            <div class="dropdown-menu dropdown-menu-lg-right py-0 border-0">
              <ul class="list-group">

                {% if request.user|cart_items %}
                {% for order_item in request.user|cart_items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{ order_item.item.title }}
                </li>
                {% endfor %}
                {% endif %}

              </ul>
            </div>
          </li>
        </ul>

        <!-- Account -->
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdownMenuLink"
              data-toggle="dropdown">
              Account
            </a>
            <div class="dropdown-menu">
              {% if user.is_staff %}
              <a class="dropdown-item" href="/admin">Admin</a>
              {% endif %}
              <a class="dropdown-item" href="{% url 'core:account-info' %}">Profile</a>
              <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </div>
          </li>
        </ul>

        {% else %}
        <ul class="navbar-nav mt-2 mt-lg-0 mr-3">
          <li class="nav-item">
            <a class="nav-link text-uppercase active" href="{% url 'account_login' %}">Login</a>
          </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link text-uppercase active" href="{% url 'account_signup' %}">Sign Up</a>
          </li>
        </ul>
        {% endif %}

      </div>
    </div>
  </nav>

  <!-- Main -->
  <div class="d-flex flex-column vh-100" style="margin-top: 57px;">

    <!-- Messages -->
    <div class="container">
      {% if messages %}
      {% for message in messages %}
      <div id="alert-message" class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0 mt-3" role="alert">
        <strong class="text-{{ message.tags }} text-uppercase">{{ message.tags }}: </strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
    </div>

    <!-- Homepage -->
    <div>
      {% block home %}{% endblock home %}
    </div>

    <!-- Content -->
    <main class="container py-3">
      {% block content %}{% endblock content %}
    </main>

    {% block extra_body %}
    {% endblock %}

    <!-- Footer -->
    <footer class="bg-light border-top footer mt-auto">
      <div class="container">

        <!-- Links -->
        <div class="row justify-content-around mt-3">
          <a class="inline-block" href="{% url 'core:privacy-policy' %}">Privacy Policy</a>
          <a class="inline-block" href="#">License Agreements</a>
          <a class="inline-block" href="#">Rules for the site users</a>
        </div>
        <hr />

        <!-- Copyright -->
        <div class="row justify-content-center pb-3">
          <span>
            <a href="{% url 'core:home' %}" title="There is help for those looking for best pictures">
              iSTORNO
            </a>
            Copyright ©2020.
          </span>
        </div>

      </div>
    </footer>
  </div>

  <!-- Scripts -->
  <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/script.js' %}"></script>
  {% block javascript %}{% endblock javascript %}
    
  {% endblock %}
</body>

</html>