{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Navigation Ecommerce -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb h4">
        <li class="breadcrumb-item"><a href="{% url 'core:order-summary' %}">Shopping cart</a></li>
        <li class="breadcrumb-item active">Checkout details</li>
        <li class="breadcrumb-item"><a href="#" onclick="return false;">Order complete</a></li>
    </ol>
</nav>

<!-- Billing details form -->
<div class="row">
    <section class="col-9">
        <div class="bg-light border rounded p-3">
            <form>
                <h3 class="mb-3">Billing details</h3>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2"
                        placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Check me out
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </section>

    <!-- Sidebar order total -->
    <aside class="col-3">
        <div class="border rounded p-3 bg-light">
            <h4 class="text-uppercase mb-3">Your order</h4>
            <div class="d-flex justify-content-between">
                <div>Title</div>
                <div>$2.00</div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <div>Title</div>
                <div>$2.00</div>
            </div>
            <hr>
            <div class="d-flex justify-content-between h5">
                <div>Subtotal</div>
                <div>$2.00</div>
            </div>
            <hr class="hr-bold">
            <div class="d-flex justify-content-between h4 font-weight-bold">
                <div>Total</div>
                <div>$4.00</div>
            </div>
            <div class="mb-3">
                <small>
                    Your personal data will be used to process your orders, facilitate your use of the site, and for
                    other purposes described in our <a href="#">privacy policy</a>.
                </small>
            </div>
            <div>
                <small class="font-weight-bold">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            I have read and agree to the website terms and conditions
                        </label>
                    </div>
                </small>
            </div>
            <a class="btn btn-primary btn-lg btn-block text-uppercase mt-3" href="#" role="button">Proceed</a>
        </div>
    </aside>
</div>

{% endblock content %}