{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Checkout - iStorno" %}{% endblock %}
{% block content %}

<!-- Navigation Ecommerce -->
<h3 class="text-uppercase">Checkout:</h3>
<hr>

<!-- Billing details form -->
<div class="row">
    <section class="col-9">
        <article class="card bg-light">
            <div class="card-body p-5">
                <ul class="nav bg-white border nav-pills rounded nav-fill mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                            <i class="fa fa-credit-card"></i> Credit Card</a>
                    <li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                            <i class="fab fa-paypal"></i> Paypal</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="nav-tab-card">
                        <form role="form" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_full_name">Full name (on the card)</label>
                                {{ form.full_name }}
                            </div>

                            <div class="form-group">
                                <label for="id_card_number">Card number</label>
                                <div class="input-group">
                                    {{ form.card_number }}
                                    <div class="input-group-append">
                                        <span class="input-group-text text-muted">
                                            <i class="fa fa-credit-card"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="id_month_expiration"><span class="hidden-xs">Expiration</span> </label>
                                        <div class="form-inline justify-content-between">
                                            {{ form.expiration }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="id_cvv" data-toggle="tooltip" title=""
                                            data-original-title="3 digits code on back side of the card">
                                            CVV <i class="fa fa-question-circle"></i>
                                        </label>
                                        {{ form.cvv }}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <small>
                                    Your personal data will be used to process your orders, facilitate your use of the
                                    site, and for
                                    other purposes described in our <a href="#">privacy policy</a>.
                                </small>
                            </div>
                            <div>
                                <small class="font-weight-bold">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" for="gridCheck">
                                            I have read and agree to the website terms and conditions
                                        </label>
                                    </div>
                                </small>
                            </div>
                            <input class="btn btn-primary w-25" type="submit" value="PROCEED">
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-tab-paypal">
                        <p>Paypal is easiest way to pay online</p>
                        <p>
                            <button type="button" class="btn btn-primary"> <i class="fab fa-paypal"></i> Log in my
                                Paypal
                            </button>
                        </p>
                        <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>

            </div>
        </article>
    </section>

    <!-- Sidebar order total -->
    <aside class="col-3">
        <div class="border rounded p-3 bg-light">
            <h4 class="text-uppercase mb-3">Your order</h4>

            {% for order_item in order.items.all %}
            <hr>
            <div class="d-flex justify-content-between">
                <div>{{ order_item.item.title }}</div>
                <div>${{ order_item.item.price }}</div>
            </div>
            {% endfor %}
            <hr class="hr-bold">
            <div class="d-flex justify-content-between h4 font-weight-bold">
                <div>Total</div>
                <div>${{ order.get_total }}</div>
            </div>
        </div>
    </aside>
</div>

{% endblock content %}