{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Payment - iStorno" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/stripe.css' %}">
{% endblock extra_head %}


{% block content %}

<!-- Navigation Ecommerce -->
<h3 class="text-uppercase">{% trans 'Payment' %}:</h3>
<hr>

<!-- Billing details form -->
<div class="row">
    <section class="col-9">
        <article class="card bg-light">
            <div class="card-body p-5">
                <ul class="nav bg-white border nav-pills rounded nav-fill mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                            <i class="fa fa-credit-card"></i> Stripe</a>
                    <li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                            <i class="fab fa-paypal"></i> Paypal</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="nav-tab-card">

                        {% if card %}
                        <div style="padding: 5px 30px;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="use_default_card"
                                    id="use_default_card">
                                <label class="custom-control-label"
                                    for="use_default_card">{% trans 'Use default card' %}:
                                    **** **** **** {{ card.last4 }}
                                    <span>{% trans 'Exp' %}: {{ card.exp_month }}/{{ card.exp_year }}</span></label>
                            </div>
                        </div>
                        {% endif %}

                        <div class="current-card-form">
                            <form action="." method="post" class="stripe-form">
                                {% csrf_token %}
                                <input type="hidden" name="use_default" value="true">
                                <div class="stripe-form-row">
                                    <button id="stripeBtn">{% trans 'Sumbit payment' %}</button>
                                </div>
                                <small><strong>{% trans 'Note' %}: </strong>
                                    {% blocktrans %}
                                    By submiting your payment you agree to proceed your personal data by
                                    this website.
                                    {% endblocktrans %}
                                </small>
                            </form>
                        </div>


                        <div class="new-card-form">
                            <form action="." method="POST" class="stripe-form" id="stripe-form">
                                {% csrf_token %}
                                <div class="stripe-form-row" id="creditCard">
                                    <label for="card-element" id="stripeBtnLabel">
                                        {% trans 'Credit or debit card' %}
                                    </label>

                                    <div id="card-element" class="StripeElement">

                                    </div>
                                </div>
                                <div id="card-errors" role="alert"></div>
                                <div class="stripe-form-row mt-4 mb-0 ml-2">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="save"
                                            id="save_card_info">
                                        <label class="custom-control-label"
                                            for="save_card_info">{% trans 'Save card' %}</label>
                                    </div>
                                </div>
                                <div class="stripe-form-row mt-1 ml-2 mb-0">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="privacy"
                                            id="privacy_policy">
                                        <label class="custom-control-label font-weight-bold" for="privacy_policy">
                                            {% trans 'I have read and accept' %}
                                            <a href="{% url 'core:privacy-policy' %}">
                                                {% trans 'Privacy Policy' %}
                                            </a>
                                        </label>
                                    </div>
                                </div>
                                <div class="stripe-form-row mb-2 mt-0">
                                    <button id="stripeBtn">{% trans 'Submit payment' %}</button>
                                </div>
                                <small><strong>{% trans 'Note' %}: </strong>

                                    {% blocktrans %}
                                    By submiting your payment you agree to proceed your personal data by
                                    this website.
                                    {% endblocktrans %}

                                </small>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-tab-paypal">
                        <div style="padding: 5px 30px;">
                            <p>{% trans 'Paypal is easiest way to pay online' %}</p>
                            <form action="." method="POST" id="paypal-form">
                                {% csrf_token %}
                                <button type="submit" id="paypalBtn" class="btn btn-primary btn-block">
                                    <i class="fab fa-paypal"></i>{% trans 'Log in and pay' %}
                                </button>
                            </form>
                            <small><strong>{% trans 'Note' %}: </strong>

                                {% blocktrans %}
                                By submiting your payment you agree to proceed your personal data by this
                                website.
                                {% endblocktrans %}

                            </small>
                        </div>
                    </div>
                </div>

            </div>
        </article>
    </section>

    <!-- Sidebar order total -->
    <aside class="col-3">
        <div class="border rounded p-3 bg-light">
            <h4 class="text-uppercase mb-3">{% trans 'Your order' %}</h4>

            {% for order_item in order.items.all %}
            <hr>
            <div class="d-flex justify-content-between">
                <div>{{ order_item.item.title }}</div>
                <div>${{ order_item.item.price }}</div>
            </div>
            {% endfor %}
            <hr class="hr-bold">
            <div class="d-flex justify-content-between h4 font-weight-bold">
                <div>{% trans 'Total' %}</div>
                <div>${{ order.get_total }}</div>
            </div>
        </div>
    </aside>
</div>

{% block javascript %}
<script src="{% static 'js/client.js' %}"></script>
{% endblock javascript %}

{% endblock content %}