{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Privacy Policy</h1>
<p>This personal data processing and privacy policy applies to the website under the domain name iSTORNO.com. This page
    contains information about what information we (site administration) or third parties may receive when you use our
    site.</p>
<h4>Content</h4>
<ol>
    <li>Generalities</li>
    <li>Personal data processed on the iSTORNO website</li>
    <li>Non-personal data</li>
    <li>The use and application of user account</li>
    <li>Rights of user of the site</li>
    <li>Consent of the user of the iSTORNO site</li>
    <li>Public availability and disclosure</li>
    <li>Access and correction of personal data</li>
    <li>Privacy and data security</li>
    <li>Cross-border data transfer</li>
    <li>Depersonalization of personal data</li>
    <li>Current and updated privacy policy</li>
    <li>Contact information and feedback</li>
</ol>
<hr>
<ol>
    <li>
        <h4>Generalities</h4>
        <ol>
            <li>This document “privacy Policy” is developed in accordance with the Federal law of the Russian Federation
                of 27.07.2006. No152-FZ ” on personal data “(hereinafter-FZ-152). </li>
            <li>This Policy defines the procedure for processing personal data and measures to ensure the security of
                personal data on the iSTORNO website in order to protect the rights and freedoms of a person and a
                citizen in the processing of his personal data, including the protection of the rights to privacy,
                personal and family secrets.</li>
        </ol>
    </li>
    <li class="mt-3">
        <h4>Personal data processed on the iSTORNO website</h4>
        <ol>
            <li> Personal data – any information relating directly or indirectly to a specific or identifiable
                individual (subject of personal data). </li>
            <li>
                Personal data when visiting the site are transferred by the user voluntarily, they include:
                <ul>
                    <li>name, surname, patronymic;</li>
                    <li>phone number;</li>
                </ul>
            </li>
        </ol>
    </li>
</ol>
{% endblock content %}