{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Search - iStorno" %}{% endblock %}

{% block content %}
<div class="row">
    <!-- Items -->
    <section class="col-md" style="min-height: 800px;">
        <!-- Search bar -->
        <div class="my-2 row justify-content-center">
            <form class="form-inline input-group my-lg-0 col-8" action="{% url 'core:search' %}" method="GET">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <h3 class="text-uppercase">Results:</h3>
        <hr>
        <div class="row text-center">


            {% if object_list %}
            {% for item in object_list %}
            <!-- Item -->
            <div class="col-xl-3 col-lg-4 col-md-4">
                <div class="card mb-3 mx-auto" style="width: 15rem;">

                    <!-- Popup button-image -->
                    <button class="btn-default" type="button" data-toggle="modal" data-target="#Modal-{{ item.slug }}">
                        <img class="card-img-top img-size-sm" src="{{ item.image_free.url }}" alt="{{ item.title }}">
                    </button>

                    <!-- Popup info -->
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="Modal-{{ item.slug }}">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Popup header -->
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{ item.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span>&times;</span>
                                    </button>
                                </div>

                                <!-- Popup body -->
                                <div class="modal-body row mx-3">
                                    <div class="col-lg-7 col-md-12 mb-2">
                                        <img class="card-img-top img-size" src="{{ item.image_free.url }}"
                                            alt="{{ item.title }}">
                                    </div>
                                    <div class="col-lg-5 col-md-12 text-left">
                                        <div class="mb-1 h4"><strong>Price: </strong>${{ item.price }}</div>
                                        <div class="mb-1 h4"><strong>Category:
                                            </strong>{{ item.category.title }}</div>
                                        <div class="mb-1 h4"><strong>Description:
                                            </strong>{{ item.description }}
                                        </div>
                                    </div>
                                </div>

                                <!-- Popup footer -->
                                <div class="modal-footer px-1">
                                    <button type="button" class="btn btn-lg btn-secondary px-2"
                                        data-dismiss="modal">Close</button>
                                    <a type="button" href="{{ item.get_absolute_url }}"
                                        class="btn btn-lg btn-primary px-2">Details</a>

                                    {% if in_cart %}
                                    <a type="button" href="{{ item.get_remove_from_cart_url }}"
                                        class="btn btn-lg btn-danger px-2">Remove from
                                        cart</a>
                                    {% else %}
                                    <a type="button" href="{{ item.get_add_to_cart_url }}"
                                        class="btn btn-lg btn-primary px-2">Add to
                                        cart</a>
                                    {% endif %}

                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Item body -->
                    <div class="card-body">
                        <a class="card-title card-link h5" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                        <p class="mt-2 card-text">Price: ${{ item.price }}</p>
                    </div>
                </div>
            </div>
            <!-- Item -->
            {% endfor %}

            {% else %}
            <div class="col">
                <div class="jumbotron jumbotron-fluid my-2">
                    <div class="container text-center">
                        <h1 class="display-4">There are no photos for your request :(</h1>
                        <p class="lead">Please, search for another photos.</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

    </section>
    <!-- Items -->

    <!-- Pagination -->
    <div class="col-12 mt-3">
        {% if is_paginated %}
        <nav class="mt-auto">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class=" page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% endif %}

                {% for object in paginator.page_range %}

                {% if page_obj.number == object %}
                <li class="page-item active"><a class="page-link"
                        href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

</div>

{% endblock content %}